@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #F4F5F7;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2,p {
  padding: 0;
}

h2 {
  font-weight: 700;
  font-size: 18px;
}

p {
  font-weight: 400;
  font-size: 14px;
}

.App {
  min-height: 50%;
  max-width: 375px;
  margin: 0 20px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  margin: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  isolation: isolate;
  width: 343px;
  height: 140px;
  position: relative;
}

.header-img {
  z-index: 0;
  padding: 0px;

  width: 88px;
  height: 88px;
  background: url("../public/profile__img.jpg");
  border-radius: 200px;
  background-position: center;
  background-size: contain;
  


}

.header-title {
  z-index: 1;
}


.share-btn {
  position: absolute;
  right: 0px;
  top: -20px;
  z-index: 2;
  /* Base/White */
  background: #FFFFFF;
  cursor: pointer;
}

main {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

}

.btn-col > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;

}

.btn-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #EAECF0;
  /* Gray/200 */
  border-radius: 8px;
  width: 343px;
  height: 68px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
}

.img-logo {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px 0px;
  gap: 64px;

  /* Base/White */

  background: #FFFFFF;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

footer {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;
  margin: 32px 0;

  /* Inside auto layout */
  margin: 0;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}