@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #F4F5F7;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2,
p {
  padding: 0;
}

h2 {
  font-weight: 700;
  font-size: 18px;
}

p {
  font-weight: 400;
  font-size: 14px;
}

button {
  font-family: 'Inter', sans-serif;
  border: none;
  cursor: pointer;

}

.App {
  padding: 20px;
  min-height: 50%;
  max-width: 375px;
  margin: 0 20px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1440px) {
  .App {
    min-width: 1440px;
  }

}

header {
  margin: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  isolation: isolate;
  width: 343px;
  height: 140px;
  position: relative;
}

.header-img {
  z-index: 0;
  padding: 0px;
  width: 70px;
  height: 70px;
  background: url("../profile__img.jpg");
  border-radius: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.header-title {
  z-index: 1;
}


.share-btn {
  position: absolute;
  right: 0px;
  top: -20px;
  z-index: 2;
  /* Base/White */
  background: #FFFFFF;
  cursor: pointer;
}

@media (min-width: 1152px) {

  header {
    width: 1152px;

  }

  header>.header-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }

  .header-img {
    width: 80px;
    height: 80px;
    border-radius: 275px;
  }

}

main {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.btn-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

}

.btn-col>a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;

}

.btn-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #EAECF0;
  /* Gray/200 */
  border-radius: 8px;
  width: 343px;
  height: 68px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
}

.btn {
  font-weight: 500;
  font-size: 14px;
}

@media (min-width: 1152px) {
  .btn-col {
    min-width: 1216px;
  }

  .btn-col>a {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
  }

  .btn-link {
    min-width: 1152px;
    text-decoration: none;
  }

  .btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

  }



}

.img-logo {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px 0px;
  gap: 64px;

  /* Base/White */

  background: #FFFFFF;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

footer {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;
  margin: 32px 0;

  /* Inside auto layout */
  margin: 0;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

@media (min-width: 1280px) {
  footer {
    min-width: 1280px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

  }

}

.contact-pg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact-title_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.contact-title {
  
  font-size: 36px;
line-height: 44px;
/* identical to box height, or 122% */

letter-spacing: -0.02em;

/* Gray/900 */

color: #101828;
}

.contact-detail {
  font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 156% */


/* Gray/600 */

color: #475467;
}

section {
  margin-bottom: 20px;
}

form {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

}

label {
  font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Gray/700 */

color: #344054;

}

input::placeholder,
textarea::placeholder {
  font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Gray/500 */

color: #667085;

}

.input-1,
.input-2,
.input-3 {
  padding: 10px 14px;
  gap: 8px;

  width: 348px;
  height: 44px;

  /* Base/White */

  background: #FFFFFF;
  /* Gray/300 */

  border: 1px solid #D0D5DD;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

}

textarea {
  padding: 12px 14px;
  gap: 8px;

  width: 343px;
  height: 132px;

  /* Base/White */

  background: #FFFFFF;
  /* Gray/300 */

  border: 1px solid #D0D5DD;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.submit__btn {
  padding: 12px 20px;
  gap: 8px;

  width: 343px;
  height: 48px;

  /* Primary/600 */

  background: #1570EF;
  /* Primary/600 */

  border: 1px solid #1570EF;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  /* Base/White */

  color: #FFFFFF;

}

.input_col {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1280px) {

  .contact-title {
  
    font-weight: 600;
font-size: 36px;
line-height: 44px;
/* identical to box height, or 122% */

letter-spacing: -0.02em;
  
  /* Gray/900 */
  
  color: #101828;
  }
  
  .contact-detail {
    font-weight: 400;
font-size: 20px;
line-height: 30px;
  /* or 156% */
  
  
  /* Gray/600 */
  
  color: #475467;
  }

  form {
    align-items: center;
  }

  .row_inputs {
    display: flex;
    flex-direction: row;
    gap: 24px;

  }

  .input-1,
  .input-2 {
    padding: 10px 14px;
    gap: 8px;

    width: 348px;
    height: 44px;

    /* Base/White */

    background: #FFFFFF;
    /* Gray/300 */

    border: 1px solid #D0D5DD;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

  }

  .input-3 {
    padding: 10px 14px;
    gap: 8px;

    width: 720px;
    height: 44px;

    /* Base/White */

    background: #FFFFFF;
    /* Gray/300 */

    border: 1px solid #D0D5DD;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
  }

  textarea {
    padding: 12px 14px;
    gap: 8px;

    width: 720px;
    height: 132px;

    /* Base/White */

    background: #FFFFFF;
    /* Gray/300 */

    border: 1px solid #D0D5DD;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

  }

  .checkbox {
    display: flex;

    justify-content: start;
    align-items: flex-start;
  }
}